.box1{
    background-color: rgb(182, 182, 182);
    width: 200px;
    min-height: 420px;
    margin-top:-10px;
    margin-left: -10px;
    
}
.text{
    font-size: 11px;
    margin-left: 10px;
}
.text:hover{
    cursor: pointer;
    background-color: gray;
    
}
.box2{
    width: 450px;
    min-height: 420px;
    /*background-color: aqua;*/
    margin-top:-10px ;
}
.box{
    display: flex;
}
.button1{
    width: 180px;
    
}
.button1 span{
    margin-left: -135px;
    font-size: 10px;

}
.button2{
    border-radius: 0px;
    border-style: none;
}
.button2:hover{
    background-color: gray;
}
.box3{
    width: 200px;
    min-height: 420px;
    /*background-color: aquamarine;*/
    margin-top: -10px;
}
.img{
    width: 50px;
    height: 50px;
    
}