.hai{
    color: aquamarine;
}
h1{
    color: red;
    background-color: blanchedalmond;
    text-decoration: underline;
}
h2{
    color: blue;
}
h3{
    color: yellow;
}
span{
    color: green;
}
#moot{
    color: purple;
}

body{
    background-color: coral;
    text-align: center; 
    /* can o trung tam */
}
span{
    font-weight: bold;
}
h3{
    border: 2px dotted black;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}