.hover_div{
    background-color: blue;
    width: 100px;
    transition: all 2s;

}
.hover_div:hover{
    cursor: pointer;
    background-color: green;
    width: 200px;
    height: 100px;

    /*transition-property:background-color, width;
    transition-duration: 2s, 3s;
    transition-timing-function:unset;*/
    

    
}

